/* Setting background color, adding font sizes/families/color and other attributes for the h1, h3, h4, h5, h6 and p elements */
body {
  background: #dee6d5;
  margin-left:45px;
  margin-right:45px;
    
}

h1 {
  font-size: 80px;
}
h4 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: bold;
  overflow: hidden;

}
h3 {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: bold;

}

h5 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: bold;
  text-align: center;
  }

h6 {
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 2;
}

/* Giving our navbar some padding and a background color */
.navbar {
  margin-left:-45px;
  margin-right:-45px;
  background: #ffffff;
}



.fig-image {
height: auto; 
width: 660px; 
}

.thumbnail {
  border: #ffffff;
}


/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 3px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #2bbadd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
/*Setting padding and background color for demobox*/
#demobox {
  background-color: #ffffff ;
  padding: 40px ;
  
}
/*Setting background color, padding and alignment for the navigation box*/
#navbox {
  background-color: #ffffff ;
  padding: 20px ;
  text-align:center;
}
/*Setting image sizes for navigation box*/
#navbox img {
  width: 175px;
  height: 175px;
}
/*Setting background color and padding for the comarison box*/
#comparebox {
  background-color: #ffffff ;
  padding-left: 80px ;
  padding-right: 80px ;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*Setting background color, padding and hiding overflow for databox*/
#databox {
  background-color: #ffffff ;
  padding-left: 80px ;
  padding-right: 80px ;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
/*Changing visibility of nav-select*/
#nav-select {
  visibility: hidden;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
    background: #ffffff;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }
  .navbar {
    background: #4aaaa5;
  }
  .navbar ul {
    visibility: visible;
    background: #ffffff;
    }
  #dropdown-toggle {
    background: #ffffff;
  }
  .dropdown {
    background: #ffffff;
  }
  #dropdown-menu {
    background: #ffffff;
  }
  #nav-select {
    visibility: visible;
    background: #ffffff;
    }
    .fig-image {
      max-width: 400px; 
      max-height: 275px;
      }    
    }
/*Setting screen size for fig images*/
@media (max-width: 1160px) {
  .fig-image {
    max-width: 500px; 
    max-height: 343.75px;
    }    
    }

@media (max-width: 643px) {
  .fig-image {
    max-width: 300px; 
    max-height: 206.25px;
    }              

}
